body{
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    background-color: #E4E4E4;
}
article{
    min-height: 80vh;
}
.midden{
    width: 80%;
    margin: 0px auto 0px auto ;
}
img{
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
}
/*  Home page   */
#FotoKader{
    display: block;
    height: 620px;
    border: solid 2px;
    border-style: hidden;
    border-radius: 5%;
    margin: 80px 0 0 0;
    opacity: 1;
}
#kaderH{
    border: solid 2px;
    border-style: hidden;
    border-radius: 15px;
    background-color: #f3f3f3;
    margin:  15px auto 0px auto ;
    padding: 15px;
    width: 1078px;
    
}
#titelH{
    position: absolute;
    top: 80px;
    left: 685px;
    color: #C31432;
    font-size: 35px;
    height: 40px;
    padding: 15px;
    text-align: center;
}
#kader{
    
    position: absolute;
    top: 115px;
    left: 685px;
    background-color: rgba(221, 221, 221, 0.75);
    border: solid 2px;
    border-style: hidden;
    border-radius: 15px;
    width: 605px;
    height: 70px;
}
/*  Contact */
.contact{
    padding: 15px;
    margin-top: 15px;
    margin-left: 21.3%;
    margin-right: 21.3%;
    background-color: #f3f3f3;
    height: 482px;
    width: 875;
    border: solid 2px;
    border-style: hidden;
    border-radius: 15px;
}
iframe{
    margin: 15px;
}
#contactMap{
    float: right;
    background-color: rgba(221, 221, 221, 0.75);
    height: 480px;
    width: 630px;
    border: solid 2px;
    border-style: hidden;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
}
#contactInfo{
    background-color:rgba(221, 221, 221, 0.75);
    float: left; 
    height: 480px;
    width: 200px;
    padding-left: 5px;
    border: solid 2px;
    border-style: hidden;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
}
/*  Navigatie balk  */
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: solid 2px #e7e7e7;
    border-style: hidden;
    border-radius: 15px;
    background-color: #f3f3f3;
}
nav li{
    float: left;
}
nav  a:hover:not(#active) {
    background-color: #ddd;
}
#active {
    color: white;
    background-color: #C31432;
  }

/*  Dropdown    */
nav li a, .dropbtn {
    display: block;
    color: #666;
    text-align: center;
    padding: 29px 31px;
    text-decoration: none;
  }
nav li.dropdown {
    display: inline-block;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {background-color: #f1f1f1;}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/*  Footer  */
#footer {
    color: #e7e7e7;
    clear: both;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #444444;
    font-size: 12px;
    line-height: 135%;
    height: 60px;
}
.wrapper {
    width: 96%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}
footer li{
    display: inline-block;
    padding: 10px;
    list-style-type: none;
}
footer a{
    color: #e7e7e7;
    text-decoration: none;
}
#linksF{
    float: left;
    margin-top: 20px;
}
#rechtsF{
    float: right;
}
#tabelF{
    padding: 2px 8px;
    border-right: 1px solid #a3a3a3;
}

/*  Verslag Opmaak   */
img.verslagF{
 
    display: block;
    margin: auto;
    padding-top: 15px;
     
}
.verslag{
    background-color: #f3f3f3;
    min-height: 750px;
    min-width: 100%;
    border: solid 2px;
    border-style: hidden;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#teksten{
    background-color: rgba(221, 221, 221, 0.75);
    float: left;
    width: 69%; /*als dit 70% is wilt die niet mee bewegen met de grote van het tabblad???*/
    min-height: 720px;
    max-height: 720px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    overflow: auto;
    border: solid 2px;
    border-style: hidden;
    border-radius: 15px;
    padding-left: 5px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
}
#rechtsV{
    float: right;
    width: 25%;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    list-style-type: none;
}
#foto{
    background-color: rgba(221, 221, 221, 0.75);
    height: 350px;  
    border: solid 2px;
    border-style: hidden;
    border-radius: 15px;  
    margin-bottom: 15px; 
    box-shadow: 0 1px 2px rgb(0 0 0 / 25%); 
}
#tijdEnOp{
    background-color: rgba(221, 221, 221, 0.75);
    height: 350px;
    border: solid 2px;
    border-style: hidden;
    border-radius: 15px; 
    padding-top: 5px;  
    padding-left: 10px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
}
.hoofdTitel{
    text-align: center;
    font-size: 32px;
}
.tussenTitel{
    text-align: left;
    font-size: 25px;
}
.tekst{
    text-align: left;
    font-size: 16px;
    padding-right: 20px;
    padding-left: 10px;
}
.tijden{
    text-align: left;
    font-size: 16px;
    padding-left: 40px;
}